@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap);

.locationTitle {
    font-family: "Great Vibes";
    font-size: 55px;
    font-weight: normal;
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    color: black;
    padding-bottom: 10px;
}

.location{
    text-align: center
}

.getDirectionsBtn{
    /*margin:0 auto;
    display: block;*/
    position: relative;
    
    background-color: #B5D1E5;
    text-decoration: none; 
    width: 185px;
    margin-top: 15px;
    margin-bottom: 50px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    height: 50px;
    line-height: 0%;
    outline: none;
}

.getDirectionsBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

a:link{
    text-decoration: none;
}
/*
.map{
    height: 550px;
    width: 1200px;
    align-content: center;
    margin:0 auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
}
*/

.mapResponsive{
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
    margin-left: 150px;
    margin-right: 150px;
}

.map{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


@media screen and (min-width: 1000px) and (max-width:1200px){
    
   .mapResponsive{
       margin-left: 100px;
       margin-right: 100px;
   }
}

@media screen and (min-width: 750px) and (max-width:1000px){
    
    .mapResponsive{
        margin-left: 70px;
        margin-right: 70px;
    }

    .getDirectionsBtn{
        height: 40px;
        width: 170px;
        font-size: 15px;
    }
 }

 @media screen and  (min-width:600px) and (max-width:750px)
{
    .mapResponsive{
        margin-left: 35px;
        margin-right: 35px;
        padding-bottom:45%;
    }

    .getDirectionsBtn{
        height: 40px;
        width: 170px;
        font-size: 15px;
    }
}

@media screen and  (min-width:464px) and  (max-width:600px)
{
    .mapResponsive{
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom:45%;
    }
    .getDirectionsBtn{
        height: 40px;
        width: 170px;
        font-size: 15px;
    }
}

@media screen and  (max-width:464px)
{
    .mapResponsive{
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom:50%;
    }

    .getDirectionsBtn{
        height: 30px;
        width: 150px;
        font-size: 14px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 620px) and (max-width:980px){
    
    .locationTitle{
        font-size:50px;
    }
}

@media screen and (max-width: 620px){
    .locationTitle{   
        font-size:40px; 
        margin-top: 16px;     
    }
}