.navigationBar {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    width: 700px;
    padding-top: 35px;
    height: 50px;
  }
  
  .navigationBar li {
    padding: 15px 10px;
    list-style: none;
    width: fit-content;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #555
  }
  .navigationBar li:hover {
    border-bottom: 2px solid darkgray;
    cursor: pointer;
  }
  
  .navigationBar .active, .navigationBar .active:hover{
    border-bottom: 2px solid red;
  }

  .footer {
    margin: 30px;
    list-style: none;
    display: flex;
    text-transform: uppercase;
}
 
.footer li {
    margin: 0 25px;
    font-size: 17px;
    height: fit-content;
    padding-top: 18px;
    color: white;
}
 
.footer li:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}

@media screen and (min-width:800px) and (max-width:950px){
  .navigationBar {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    width: 500px;
    padding-top: 27px;
    height: 50px;
  }
  
  .navigationBar li {

    font-size: 16px;
  }
}
  @media screen and (min-width:900px) and (max-width:1050px){
    .navigationBar {
      display: flex;
      justify-content: space-evenly;
      flex-flow: row;
      width: 520px;
      padding-top: 27px;
      height: 50px;
    }
    
    .navigationBar li {
  
      font-size: 18px;
    }
  }