.navigationHeader {
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #B5D1E5;
  }



  @media screen and (max-width:800px){

    .navigationHeader{
      height: 80px;
    }
  }